<!DOCTYPE html>
<html>
<head>
    <title>Chemsong</title>
    <style>
        /* Add your CSS styling here */
        body { font-family: Arial, sans-serif; }
        .container { width: 80%; margin: auto; }
        .header { text-align: center; }
        .form-group { margin-bottom: 15px; }
        .image-container img {
            width: auto;
            height: auto;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>CHEMSONG</h1>
            <img src="/static/images/chemsong.png" alt="Chemsong Image" style="width: 250px;"/>
        </div>

        <form id="processForm" action="/process" method="post">
            <div>
                <label>Select musical scale:</label>
                <select name="musical_scale">
                    {% for scale in scale_list %}
                    <option value="{{ scale }}">{{ scale }}</option>
                    {% endfor %}
                </select>
            </div>

            <div>
                <p>Enter SMILES notation for each step, separate molecules with a space:</p>
            </div>

            <div class="button-group_1">
                <button type="button" onclick="addStep()">Add Step</button>
                <button type="button" onclick="addRandomStep()">Add Random Step</button>
                <button type="button" onclick="resetForm()">Reset</button>
            </div>
            
            <div class="button_group_2">
                <button type="submit" onclick="process()">Process</button>
            </div>

            <div class="form-group">
                <!-- Additional input fields will be dynamically added here -->
            </div>

        </form>

        <div class="image-container">
            <!-- Images will be displayed here -->
        </div>

        <div>
            <!-- Add vertical space -->
            <br><br>

            <a href="{{ url_for('smiles_guide') }}">SMILES Notation Guide</a>
        </div>
    </div>

    <div id="logArea" style="position: fixed; bottom: 0; width: 100%; height: 200px; overflow: scroll;">
        <!-- Logs will be displayed here -->
    </div>

    <script type="text/javascript">
        var stepCount = 1;

        function addStep() {
            stepCount++;
            var inputDiv = document.createElement('div');
            inputDiv.className = 'form-group';
            inputDiv.innerHTML = '<input type="text" name="smiles_entry_' + stepCount + '" style="width: 250px;" />';
            document.querySelector('form').appendChild(inputDiv);
        }

        function addRandomStep() {
            fetch('/generate_random_step')
                .then(response => response.json())
                .then(randomStep => {
                    stepCount++;
                    var inputDiv = document.createElement('div');
                    inputDiv.className = 'form-group';
                    inputDiv.innerHTML = '<input type="text" name="smiles_entry_' + stepCount + '" style="width: 250px;" value="' + randomStep + '" />';
                    document.querySelector('form').appendChild(inputDiv);
                })
                .catch(error => console.error('Error:', error));
        }

        function resetForm() {
                window.location.reload();
            }
            document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('processForm').addEventListener('submit', function(e) {
                e.preventDefault(); // Prevents default form submission

                var formData = new FormData(this);

                fetch('/process', {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    if (data.images) {
                        data.images.forEach(encodedImg => {
                            var img = new Image(200, 200);
                            img.src = 'data:image/png;base64,' + encodedImg;
                            document.querySelector('.image-container').appendChild(img);
                        });
                    }
                })
                .catch(error => console.error('Error:', error));

            });
        });
        function fetchLogs() {
            fetch('/get-logs')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('logArea').innerText = data.logs;
                })
                .catch(error => console.error('Error fetching logs:', error));
        }

        // Fetch logs every 5 seconds
        setInterval(fetchLogs, 5000);

        function midiNoteToFrequency(note) {
            return Math.pow(2, (note - 69) / 12) * 440;
        }

        function playSquareWave(frequency, duration = 0.5) {
            const audioContext = new AudioContext();
            const oscillator = audioContext.createOscillator();
            oscillator.type = 'square';
            oscillator.frequency.setValueAtTime(frequency, audioContext.currentTime);

            oscillator.connect(audioContext.destination);
            oscillator.start();
            oscillator.stop(audioContext.currentTime + duration);
        }

        document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('processForm').addEventListener('submit', function(e) {
            e.preventDefault(); // Prevents default form submission

            var formData = new FormData(this);

            fetch('/process', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.images) {
                    data.images.forEach(encodedImg => {
                        var img = new Image(200, 200);
                        img.src = 'data:image/png;base64,' + encodedImg;
                        document.querySelector('.image-container').appendChild(img);
                    });
                }

                // Handle MIDI notes for audio playback
                if (data.midiNotes) {
                    let totalTime = 0;
                    data.midiNotes.forEach(noteData => {
                        if (noteData.note_on !== undefined) {
                            setTimeout(() => {
                                const frequency = midiNoteToFrequency(noteData.note_on);
                                playSquareWave(frequency, noteData.time / 1000); // Convert time to seconds
                            }, totalTime);
                            totalTime += noteData.time; // Increment total time by the note duration
                        }
                    });
                }
            })
            .catch(error => console.error('Error:', error));
        });
    });
    </script>
</body>
</html>
